@font-face {
    font-family: 'GenSekiGothic TW B';
    src: url('eot/GenSekiGothicTW-B.eot');
    src: local('eot/eotGenSekiGothic TW B'), local('eot/GenSekiGothicTW-B'),
        url('eot/GenSekiGothicTW-B.eot?#iefix') format('embedded-opentype'),
        url('woff2/GenSekiGothicTW-B.woff2') format('woff2'),
        url('woff/GenSekiGothicTW-B.woff') format('woff'),
        url('ttf/GenSekiGothicTW-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}


@font-face {
    font-family: 'GenSekiGothic TW H';
    src: url('eot/GenSekiGothicTW-H.eot');
    src: local('eot/GenSekiGothic TW H'), local('eot/GenSekiGothicTW-H'),
        url('eot/GenSekiGothicTW-H.eot?#iefix') format('embedded-opentype'),
        url('woff2/GenSekiGothicTW-H.woff2') format('woff2'),
        url('woff/GenSekiGothicTW-H.woff') format('woff'),
        url('ttf/GenSekiGothicTW-H.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GenSekiGothic TW L';
    src: url('eot/GenSekiGothicTW-L.eot');
    src: local('eot/GenSekiGothic TW L'), local('eot/GenSekiGothicTW-L'),
        url('eot/GenSekiGothicTW-L.eot?#iefix') format('embedded-opentype'),
        url('woff2/GenSekiGothicTW-L.woff2') format('woff2'),
        url('woff/GenSekiGothicTW-L.woff') format('woff'),
        url('ttf/GenSekiGothicTW-L.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GenSekiGothic TW M';
    src: url('eot/GenSekiGothicTW-M.eot');
    src: local('eot/GenSekiGothic TW M'), local('eot/GenSekiGothicTW-M'),
        url('eot/GenSekiGothicTW-M.eot?#iefix') format('embedded-opentype'),
        url('woff2/GenSekiGothicTW-M.woff2') format('woff2'),
        url('woff/GenSekiGothicTW-M.woff') format('woff'),
        url('ttf/GenSekiGothicTW-M.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GenSekiGothic TW R';
    src: url('eot/GenSekiGothicTW-R.eot');
    src: local('eot/GenSekiGothic TW R'), local('eot/GenSekiGothicTW-R'),
        url('eot/GenSekiGothicTW-R.eot?#iefix') format('embedded-opentype'),
        url('woff2/GenSekiGothicTW-R.woff2') format('woff2'),
        url('woff/GenSekiGothicTW-R.woff') format('woff'),
        url('ttf/GenSekiGothicTW-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

